<%- include('layout', { body: `
<div class="col-md-3 sidebar" id="sidebar">
${Object.values(docs).map(group => `
<div class="menu-group">
  <!-- group æœ¬èº«ä½œä¸ºå¯å±•å¼€é¡¹ -->
  <div class="menu-cat-title" onclick="toggle(this)">
    ðŸ“‚ ${group.name}
  </div>

  <ul class="menu-items">
    ${group.children.map(cat => `
      ${
        /* å¦‚æžœä½ è¿˜æƒ³ä¿ç•™ cat å±‚çº§ */
        cat.items.map(i => `
          <li>
            <a href="/?doc=${i.id}">${i.title}</a>
          </li>
        `).join('')
      }
    `).join('')}
  </ul>
</div>
`).join('')}
</div>


<div class="sidebar-backdrop" id="sidebarBackdrop"></div>


<div class="col-md-9">
<div class="content">
${htmlContent ? htmlContent : '<p>welcome to Tech Docs</p>'}
</div>
</div>
` }) %>